#login
  position fixed
  z-index 100
  top 0
  left 0
  width 100%
  height 100%
  background url("../../assets/images/bkg.png") no-repeat
  background-size: cover;
  background-position center

  .login-wrapper
    width: 850px
    height: 360px
    top 50%
    left 50%
    transform translate(-50%, -50%)
    background-color: rgba(30,32,63, .8)
    position: absolute;
    box-shadow: 2px 2px 8px #000000
    display flex
    .left, .right
      flex 1
      height 100%
    .left
      background-image url("../../assets/images/form.png")
      background-size cover
      background-position center
    .right
      .title
        padding 0 20px
        height 50px
        line-height: 50px;
        color #fff
        text-align center
        font-size $font-size-large
        border-bottom 1px solid rgba(255, 255, 255, .2)

      .el-form
        width 100%
        padding 40px
        height calc(100% - 50px)
        .el-input
          font-size $font-size-medium-x
          .el-input__inner
            border-radius 0
            border-color rgba(255, 255, 255, .2)
            background-color rgba(51,55,115, 1)
            color #eee
        .el-button
            width 100%
            border-radius 0
        .el-checkbox
          color #eee
