.search
  width 70%
  margin 0 auto
  height 100%
  display flex
  flex-direction column
  .search-box
    display flex
    .el-input
      flex 1
    .el-button
      margin-left 10px
  .nav
    margin-bottom 20px
    .el-menu
      display flex
      .el-menu-item
        flex 1
        text-align center
        line-height 40px
        height 40px
  .content
    flex 1